.DS_Store
tests/test_reliability
tests/bloom
nph
docs
for_reference
do_not_commit
build/*
result
sds.nims
/.update.timestamp

# Nimbus Build System
nimbus-build-system.paths

# Nimble packages
/vendor/.nimble
nimble.develop
nimble.paths
nimbledeps
