[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-results"]
	path = vendor/nim-results
	url = https://github.com/arnetheduck/nim-results.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-stew"]
	path = vendor/nim-stew
	url = https://github.com/status-im/nim-stew.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-faststreams"]
	path = vendor/nim-faststreams
	url = https://github.com/status-im/nim-faststreams.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-json-serialization"]
	path = vendor/nim-json-serialization
	url = https://github.com/status-im/nim-json-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-serialization"]
	path = vendor/nim-serialization
	url = https://github.com/status-im/nim-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-taskpools"]
	path = vendor/nim-taskpools
	url = https://github.com/status-im/nim-taskpools.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-confutils"]
	path = vendor/nim-confutils
	url = https://github.com/status-im/nim-confutils.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-libp2p"]
	path = vendor/nim-libp2p
	url = https://github.com/vacp2p/nim-libp2p.git
	ignore = untracked
	branch = master
