name: ci / nix
permissions:
  contents: read
  pull-requests: read
  checks: write
on:
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        system:
          - aarch64-darwin
          - x86_64-linux
        nixpkg:
          - libsds
          - libsds-android-arm64
          - libsds-android-amd64
          - libsds-android-x86
          - libsds-android-arm

        include:
          - system: aarch64-darwin
            runs_on: [self-hosted, macOS, ARM64]

          - system: x86_64-linux
            runs_on: [self-hosted, Linux, X64]

    name: '${{ matrix.system }} / ${{ matrix.nixpkg }}'
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: 'Run Nix build for ${{ matrix.nixpkg }}'
        shell: bash
        run: |
          nix build -L '.#${{ matrix.nixpkg }}' \
            --print-out-paths --accept-flake-config

      - name: 'Show result contents'
        shell: bash
        run: find result/ -type f
